body {
    background-color: #f6f6f6;
    padding-top: 50px;
    margin-bottom: 0;
}
body.auth{
  margin-bottom: 280px;
  padding-top: 60px;
}
.main-content h1{
margin: 5px 0 25px;
}
.announcements {
    background-color: #dde9f5;
}

.menu-control{
	width: 200px;
}
.menu-control .avatar img{
   display: block;
    margin: 0 auto 10px;
}
.menu-control .list-menu span.heading{
   color: #cecece;
    display: block;
}
.menu-control .list-menu ul{
   list-style: outside none none;
    padding: 0;
}
.menu-control .list-menu ul li a{
	color: #337ab7;
    display: block;
    padding: 5px 0;
    outline: 0;
    text-decoration: none;
}
.menu-control .list-menu ul li a:hover{
	text-decoration: underline;

}
.menu-control .list-menu ul li a:hover span.glyphicon{

}

.menu-control .list-menu ul li a span.glyphicon{
    color: #dedede;
    font-size: 16px;
}

.main-content{
   min-height: 500px;
    width: 580px;
}

.right-sidebar{
	width: 330px;
}

.main-navbar .right{
	padding: 0;
}
.main-navbar .right .navbar-nav > li.navbar-notice > a{
  color: #85add6;
    padding: 13px 10px 12px 15px;
}
.main-navbar .right .navbar-nav > li.navbar-notice a span.counter{
	background-color: #ff0000;
    border-radius: 8px;
    color: #fff;
    font-size: 9px;
    left: -5px;
     padding: 3px 6px;
    position: relative;
    top: -10px;
}
.main-navbar .right .navbar-nav > li > a{
  color: #fff;
    padding: 10px;
}
.ft-pins{
    margin-bottom: 20px;
    padding: 0 18px;
}
.ft-pins img{
  margin-right: 5px;
}
.nav-tabs > li > a {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
.status-post{
   display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
.no-available-posts{
    padding: 20px 0;
    text-align: center;
}
.channel-wrapper{
    margin: 15px 5px;
}
.channel-post{
border-bottom: 1px solid #efefef;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 10px;
}
.channel-post .manager{
    margin-right: 10px;
    width: 95px;
}
.channel-post .message{
 width: 430px;
   min-height: 120px;
}
.channel-post .message .controls a{
  outline: 0;
  color: #337ab7;
}
.channel-post .message span.intervaltime{
    font-size: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
.post-replies{
  text-align: right;
}
.post-replies .items .reply-content{
    width: 83%;
}
.post-replies .items .reply-avatar{
  padding-top: 5px;
    text-align: left;
    width: 17%;
}
.channel-post .post-replies .items{
  background: #dde9f5 none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
}
.channel-post .message .postcontent{
  min-height: 50px;
}
a.up-vote span:hover{
  color: #40b322;
}
.notice{
  color: #333;
 padding: 0;
    width: 400px;
}
.navbar-notice > a{
    color: #337ab7 !important;
    outline: 0 none;
    height: 50px;
}
.notice a:hover{
background-color: transparent !important;
}
.notice-heading{
  background-color: #f3f3f3;
  padding: 10px;
}
.notice-heading .left{
  width:50%;
}
.notice-heading .right{
  width:50%;
}
.notice-wrapper{
    max-height: 300px;
    min-height: 40px;
}
.notice-footer{
    padding:10px;
}

.notice.messages{
  left: -48px;
}
.notice.requests{
 left: -96px;
}
.navbar-notice a.btn{
  color: #fff !important;
}
.navbar-notice a.btn:hover, .navbar-notice a.btn:active{
  color: #fff !important;
    background-color: #387abc !important;
}
.navbar-notice a.btn:focus{
  background-color: #4385c7 !important;
}
.navbar-notice > .notice a:focus{
  background-color: transparent !important;
   color: #337ab7;
}
.navbar-notice > .notice a.btn:focus{
  background-color: #387abc !important;
   color: #337ab7;
}
.notice-wrapper .fr-lists{
    border-bottom: 1px solid #eee;
    padding: 10px 15px 10px 10px;
}
.notice-wrapper .fr-lists .ctrl{
  min-width: 75px !important;
}
/*
.notice-wrapper .fr-lists:first-child {
  padding-top: 0px;
}
*/
.notice-wrapper .notification-lists:last-child {
  border-bottom: none;
}
.notice-wrapper .fr-lists:last-child {
  border-bottom: none;
}
.new-notice-entry{
   background-color: #fafafa;
    font-weight: bold;
    color: #7D7D7D;
}
.request-control{
  float: right;
    padding-top: 3px;
    text-align: center;
    width: 160px;
}
.request-control p.success{
 background-color: #e9f5e6;
    color: #40b322;
    padding: 8px 0;
}
.request-control p.failed{
 background-color: #e9f5e6;
    color: #F2D3D6;
    padding: 8px 0;
}
.notice-wrapper .notification-lists{
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.notice-wrapper .notification-lists img{
    float: left;
    margin-right: 10px;
}

#noticeMessageWrapper .panel-body{
  padding: 0;
}
#noticeMessageWrapper .panel-body h1{
    margin-bottom: 0px;
    padding: 15px;
}
#noticeMessageWrapper .item:last-child {
  border-bottom: none;
}
#noticeMessageWrapper .item{
   border-bottom: 1px solid #efefef;
    overflow: hidden;
}
#noticeMessageWrapper .item .left{
   float: left;
    margin-right: 10px;
    width: 60px;
}
#noticeMessageWrapper .item .right{
    float: left;
    width: 290px;
}
#noticeMessageWrapper .item .right .msg{
  color: #969696;
}
.msg-details{
   margin-bottom: 5px;
}
#noticeMessageWrapper .item .msg-details .left{
    float: left;
    width: 100%;
}
#noticeMessageWrapper .item .msg-details .right{
    color: #969696;
    float: left;
    font-size: 12px;
    text-align: right;
    width: 145px;
}
#noticeMessageWrapper .item a{
    color: #333;
    display: block;
    padding: 10px;
}
#noticeMessageWrapper .item a.unread{
  background-color: #F7F7F7
}
#noticeMessageWrapper .item .unread .msg-details .left{
  font-weight: bold;
  color: #337ab7;
}
#noticeMessageWrapper .item a.read{
  opacity: 0.5;
}
#noticeMessageWrapper .item a:hover{
  background-color: #F2F2F2 !important;
}
#noticeMessageWrapper .item a.read:hover{
  background-color: #F2F2F2 !important;
}
#noticeMessageWrapper .item a:focus{
   outline: 0;
   background-color: #F7F7F7
}

#friends .item:last-child {
  border-bottom: none;
}
#friends .item{
   border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
#friends .item .left{
    float: left;
    margin-right: 10px;
}
#friends .item .right{
  float:left;
}
#friends .item .right .manager{
  display: block;
}
#friends .item .right .league{
  display: block;
}
.main-control > .panel-default, .main-content > .panel-default, .right-sidebar > .panel-default{
  min-height: 500px;
}
#messages .panel-body{
  padding: 0;
}
#messages .panel-body h1{
    margin-bottom: 0px;
    padding: 15px;
}
#messages .item:last-child {
  border-bottom: none;
}
#messages .item{
   border-bottom: 1px solid #efefef;
    overflow: hidden;
}
#messages .item .left{
   float: left;
    margin-right: 10px;
    width: 60px;
}
#messages .item .right{
    float: left;
    width: 475px;
}
#messages .item .right .msg{
  color: #969696;
}
.msg-details{
   margin-bottom: 5px;
}
#messages .item .msg-details .left{
   float: left;
    width: 320px;
}
#messages .item .msg-details .right{
    color: #969696;
    float: left;
    font-size: 12px;
    text-align: right;
    width: 145px;
}
#messages .item a{
    display: block;
    padding: 13px 15px;
    color: #333;
}
#messages .item a.unread{
  background-color: #F7F7F7
}
#messages .item .unread .msg-details .left{
  font-weight: bold;
  color: #337ab7;
}
#messages .item a.read{
  opacity: 0.5;
}
#messages .item a:hover{
  background-color: #F2F2F2
}
#messages .item a.read:hover{
  background-color: #F2F2F2
}
#messages .item a:focus{
   outline: 0;
   background-color: #F7F7F7
}

#conversation .panel-body{
   padding: 0 2px 0 0;
}
#conversation .panel-body .controls{
   padding: 15px 15px 0;
}
#conversation .panel-body .composer{
    overflow: hidden;
    padding: 0 15px;
}
#conversation #conversationWrapper{
  height: 330px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-bottom: 15px;
    padding-top: 15px;
}
#conversation #conversationWrapper .nano-content{
   padding: 15px 5px 0 15px;
}
#conversation #conversationsContent .recipient .left{
    float: left;
    width: 70px;
}
#conversation #conversationsContent .recipient .right{
    float: left;
    max-width: 450px;
    min-width: 170px;
}
#conversation #conversationsContent .recipient .right .msg{
    background-color: #edf4fa;

}
#conversation #conversationsContent .recipient .datetime{
  text-align: right;
}

#conversation #conversationsContent .sender .right{
    float: right;
    text-align: right;
    margin-right: 10px;
    width: 70px;
}
#conversation #conversationsContent .sender .left{
  float: right;
    max-width: 450px;
    min-width: 170px;
    text-align: right;
}
#conversation #conversationsContent .sender .left .msg{
  background-color: #f7f7f7;
    text-align: left;
}
  #conversation #conversationsContent .sender .datetime{
  text-align: left;
   
}
#conversation #conversationsContent .msg{
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 5px;
    line-height: 25px;
}
#conversation #conversationsContent .datetime{
  font-size: 12px;
}
#conversation .composer .field{
    float: left;
    width: 445px;
}
#conversation .composer .submit{
  float: left;
}
.load-more-messages{
  width:105px;
}
.no-available-conversations{
   color: #969696;
    padding: 0 0 15px;
    text-align: center;
}
.messageWrapper, .friendPageWrapper{
  height:350px;
}