#players-container{
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
    height: 245px;
}
#players-container .nano-content{
	 padding: 10px;
}
.player-item{
    background-color: #fff;
    border: 1px solid #f1f1f1;
    float: left;
    margin: 5px;
    padding: 10px 0;
    width: 110px;
}
#players-container img{
	pointer-events: none;
}

.pick-item{
  background: #155aa1 url("/assets/img/pick_bg.png") no-repeat scroll center 35px;
    float: left;
    font-size: 12px;
    height: 145px;
    margin-bottom: 10px;
    margin-right: 12px;
    overflow: hidden;
    padding-top: 3px;
    text-align: center;
    width: 120px;
}

.pick-players{
    height: 110px;
}

.pick-wrapper{
    margin: 0 auto;
    overflow: hidden;
    width: 660px;
}

#player-picks .player{
    background-color: #fff;
    border: 1px solid #f1f1f1;
    float: left;
    margin-right: 10px;
    padding: 10px 0;
    width: 115px;
}

.dndPlaceholder {
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
    float: left;
    margin: 5px;
    padding: 10px 0;
    width: 110px;
    height:115px;
    list-style: none;
    margin-bottom: 0;
}
.team-name{
    display: inline;
    width: 380px;
}
.franchise-logos{
   margin: 0 auto;
    overflow: hidden;
    width: 510px;
}
.franchise-logos .item{
    background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    margin: 5px;
    padding: 10px;
}
.franchise-logos .item:hover{
    cursor: pointer;
    background-color: #E0E0E0;
}