body {
    background-color: #f6f6f6;
    padding-top: 50px;
    margin-bottom: 0;
}
.main-navbar .right {
    padding-bottom: 0px;
    padding-top: 0px;
}
.franchise-profile{
   /*margin-bottom: 60px;*/
}
.franchise-profile .row{
 	margin-top: -72px;
}
.franchise-profile .avatar{
border: 7px solid #fff;
}
.franchise-profile .name{
	font-size: 24px;
}
.franchise-profile .name span{
  color: #969696;
    font-size: 12px;
    margin-left: 10px;
}
.franchise-profile .stats{
	display: block;
}
.franchise-profile .badges{
    margin: 0 auto;
    text-align: left;
    width: 130px;
}
.franchise-profile .stats .label{
    color: #333;
    font-weight: normal;
}
.franchise-profile .stats .count{

    font-size: 18px;
}
.franchise-profile .item:first-child{
	padding-left: 0;
	border: none;
}
.franchise-profile .item{
	border-left: 1px solid #eaeaea;
    padding: 0 15px;
}
.franchise-profile .basic .field{
    color: #969696;
    display: inline-block;
    margin-right: 10px;
    width: 140px;
} 
.manager-franchise{

}
.manager-franchise .info{
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 30px 30px;
}
.manager-franchise .team{
font-size: 16px;
}
.manager-franchise .players .player{
    background-color: #155aa1;
    color: #fff;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 131px;
}
.manager-franchise .players .player .inner{
    background-color: #fff;
    color: #333;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 10px;
}
.ffield{
   display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: right;
    width: 60px;
    color:#969696;
}