#pba-games .game{
  float: left;
    margin-left: 80px;
    width: 380px;
}
#pba-games .result-btn{
   margin-top: 15px;
    padding: 5px 30px;
}
#pba-games .item{
   border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 120px;

}
#pba-games .item:last-child{
    border-bottom: none;
}
#pba-games .item .date{
    font-size: 18px;
    margin-bottom: 5px;
}
#pba-games .item .matchup{

}
#pba-games .item .matchup .time{
	margin-right: 10px;
}
#pba-games .item .matchup .vs{
	margin: 0 10px;
}
#pba-games .item .matchup .venue{
    color: #969696;
    margin-bottom: 10px;
}
#pba-games .item .matchup .score{
   background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    color: #40b322;
    font-weight: bold;
    padding: 10px;
}