.create-league-body {
    margin: 0 auto;
    padding: 15px 0;
    width: 410px;
}

.league-name{
    margin: 0 0 10px;
}
.leagues-wrapper .item{
    float: left;
    margin: 0 15px 0 0;
    width: 265px;
}
.leagues-wrapper .item .desc{
   height: 55px;
}
.league-wrapper h1{
    font-size: 22px;
    margin: 0 0 10px;
}
.leagues-wrapper .search-mod{
   float: right;
    overflow: hidden;
    width: 300px;
}
.league-participan-left{
    border-right: 1px solid #f2f2f2;
    padding-right: 20px;
    width: 590px;
}
.league-participan-right{
	width: 500px;
}
.channel-post {
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 10px;
}
.channel-post .manager {
    margin-right: 10px;
    width: 95px;
}
.channel-post .message {
    min-height: 120px;
    width: 395px;
}
.channel-post .message span.intervaltime {
    font-size: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
.channel-post .post-replies .items {
    background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
}
.channel-post .message .controls a {
    color: #337ab7;
    outline: 0 none;
}
.post-replies .items .reply-content {
    width: 83%;
}
.channel-post .message .postcontent {
    min-height: 50px;
}
.no-available-posts {
    padding: 20px 0;
    text-align: center;
}