html {
    min-height: 100%;
    position: relative;
}
body{
    background-color: #eee;
    color: #333;
    margin-bottom: 280px;
    padding-top: 60px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size:14px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
.container{
    width: 1170px;
}
a, a:hover{
	color: #337ab7;
    outline: 0;
}
a.cgraylink{
    color: #969696;
}
.h1, h1{
    font-size: 20px;
    font-weight: normal;
}
.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f28{
    font-size: 28px;
}
.fwnormal{
    font-weight: normal;
}
.fwbold{
    font-weight: bold;
}
.vmiddle{
    vertical-align: middle;
}
.cgray{
    color:#969696;
}
.dgray{
    color:#868686;
}
.cred{
    color:#c53f3f;
}
.cgreen{
    color: #40b322;
}
.cyellow{
    color: #d2c210;
}
.cwhite{
    color: #ffffff;
}
.corange{
    color: #ed9700;
}
.bgray{
    background-color: #f2f2f2;
}
.bold{
    font-weight: bold;
}
.fleft{
	float:left;
}
.fright{
    float:right;
}
.dblock{
    display: block;
}
.f16{
	font-size: 16px;
}
.nomargin{
    margin: 0px !important;
}
.mt5{
    margin-top: 5px;
}
.mt15{
    margin-top: 15px;
}
.mr5{
	margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.hrdash{
    border-style: dashed;
    margin-bottom: 10px !important;
}
.main-navbar{
	background-color: #155aa1;
    color: #fff;
}
.main-navbar h1{
	font-weight: normal;
    margin: 0 20px 0 0;
    padding: 15px 0;
}
.main-navbar .left ul li a{
	color: #b2d6f9;
}
.main-navbar .left ul li.dropdown ul li a{
    color: #333;
}
.main-navbar .right{
	padding-top: 7px;
	padding-bottom: 7px;
}
.how-to-play-container {
    background-color: #fff;
    border-top: 2px solid #ed9700;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 15px;
}
.how-to-play-container .labeltext{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}
#next-matchup{
    color: #a2a2a2;
    font-size: 10px;
    text-transform: uppercase;
}
.match-container .match-title{
   font-size: 18px;
    margin-bottom: 5px;
}
#next-matchup .b{
    font-size:22px;
    margin-left: 5px;
    text-transform: uppercase;
    color: #333;
    width: 25px;
    display: inline-block;
}
.auth .main-navbar .right{
    padding-top: 0px;
    padding-bottom: 0px;
}
.match-container{
    background-color: #fff;
    border-top: 2px solid #c53f3f;
    padding: 17px 0;
    text-align: center;
}
.main-header .right{
    padding-top: 15px
}
.announcements{
    background-color: #d3e3f4;
    padding: 10px 0;
}
.content-left{
    margin-right: 20px;
    width: 820px;
}
.content-right{
	width: 300px;
}
.ft-player {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 2px solid #53aa63;
    padding: 15px 10px;
}
.ft-player .fpoints{
    font-size: 18px;
    font-weight: bold;
}
.ft-player .player{
    margin-right: 5px;
    overflow: hidden;
    width: 155px;
}
.standing-header{
    background-color: #ed9700;
    color: #fff;
    font-size: 16px;
    margin-top: -5px;
    padding: 10px 0;
}
.ptp-table{
    width: 100%;
}

.ptp-table tbody tr:nth-child(odd) {
   background-color: #ffffff;
}
.ptp-table tbody tr:nth-child(even) {
   background-color: #f7f7f7;
}
.ptp-table td{
    font-size: 14px;
    padding: 5px;
}
.ptp-table thead{
    background-color: #ffd68f;
    color: #ad6e00;
}
.ptp-table thead th{
    padding: 5px 10px;
}
.ptp-table tbody th{
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
}
.pba-schedule{
    overflow: hidden;
    height: 201px;
}
.pba-schedule .schedule .matchup .vs-time{
    width: 50px;
}
.schedule{
    background: #fff none repeat scroll 0 0;
    border-right: 1px solid #eaeaea;
    height: 199px;
    padding: 10px;
    width: 205px;
}
.pba-schedule .schedule:last-child .hrdash{
    border-color: #82d391;
}

.team1{
    width: 60px;
}
.team2{
    width: 60px;
}

.ft-bundle .managers{
    width: 400px;
    margin-right: 20px;
}
.ft-bundle .managers .manager .left{
    margin-right: 10px;
    width: 60px;
}
.ft-bundle .managers .manager .right{
    width: 220px;
}
.ft-bundle .signed-players{
    width: 400px;
}
.ft-bundle .signed-players .player .left{
    margin-right: 10px;
    width: 60px;
}
.ft-bundle .signed-players .player .right{
    width: 250px;
}
.footer{
    background-color: #2f2f2f;
    bottom: 0;
    color: #999;
    padding: 30px 0;
    position: absolute;
    width: 100%;
}
.footer-hr{
    border-color: #525252;
}
.footer .menu-row{
    width: 225px;
}
.footer .menu-row .head{
  margin-bottom: 10px;
    text-transform: uppercase;
}
.footer .menu-row ul{
    list-style: outside none none;
    padding: 0;
}
.footer .menu-row ul li a{
    color: #999;
}
.login-body{
    margin: 0 auto;
    width: 340px;
    padding: 15px 0;
}
.forgot-body{
    margin: 0 auto;
    padding: 15px 0;
    width: 340px;
}
.marquee {
    overflow: hidden;
}
.marquee span{
    margin-right: 40px;
}
.main-navbar .right .navbar-nav > li > a {
    color: #fff;
    padding: 10px;
}
.main-navbar .left .navbar-nav a, .main-navbar .right .navbar-nav a{
    outline: 0;
}
.channel-preloader{
    width:72px;
    margin: 0 auto;
    display: block;
    margin-top: 7px;
}
.btn-small{
 min-width: 90px !important;
    padding: 8px 0;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #333333 !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background: #115498;
}

.navbar-nav a.active{
    background: #115498;
}
.secondary-logo a{
    color: #fff;
}
.secondary-logo a:hover{
    text-decoration: none;
}
.centered-content{
    width: 740px;
    margin: 0 auto;
}
.hrgamebet{
    border-bottom: 1px solid #e1e1e1;
}
img.loss{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.bgGreen{
    background-color: #d2f7d8;
}
.team-wrapper{
    margin: 0 auto 40px;
    overflow: hidden;
    width: 980px;
}
.team-wrapper .item{
   float: left;
    padding: 10px 0;
    width: 325px;
}
.register-team{
   background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-bottom: 11px;
    padding: 10px;
}
.standard-page h1{
    font-size: 26px;
    margin: 0 0 20px;
}
.standard-page h2{
    font-size: 18px;
    margin: 0 0 20px;
    font-weight: normal;
}
.standard-page ul.list li{
    margin-bottom: 10px;
}
.allcaps{
    text-transform: uppercase;
}
ul.lnm li{
     margin-bottom: 5px !important;
}