
.navbar{
	border: none
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}
.nav > li a:focus, .nav > li a:hover{
	background-color: #115498;
}
.btn:focus, .btn:active, .btn:visited {
  outline: 0;
}
.btn-azure {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #236db8;
    border-color: #327ecb;
    color: #fff;
}
.btn-azure:hover, .btn-azure:visited, .btn-azure:active  {
	color: #fff;
	background-color: #1e67b1;
}
.btn-flat-blue {
    background-color: #4385c7;
    border-color: #4385c7;
    color: #fff;
    padding: 10px 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    min-width: 125px;
}
.btn-flat-blue:hover, .btn-flat-blue:active  {
    color: #fff;
    background-color: #387abc;
}
.btn-flat-blue:visited{
    color: #fff;
}
.btn-flat-blue-small {
    padding: 10px 15px;
    min-width: auto;
}
.glyphicon{
	margin-right: 5px;
}
.panel-default > .panel-heading {
    background-image: none;
    background-repeat: none;
    background-color: #f8f8f8;
}
.modal-content {
    border-radius: 0px;
}
.modal-header{
    background-color: #f6f6f6;
    text-align: center;
    border-bottom: none;
    color: #333;
}
.modal-footer {
    background-color: #f6f6f6;
}
.form-control {
    height: 38px;
}
label {
    font-weight: normal;
}
textarea {
    resize: none;
}
input.form-control:focus, textarea.form-control:focus {
  border: solid 1px #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.nav-tabs > li > a {
  color: #555555;
  outline: 0;
}
.channels .nav > li.active a:hover{
  background: none;
  color: #555555;
  border-bottom:1px solid #fff;
}
.channels .nav > li a:hover{
  background-color: #f3f3f3;
  color: #555555
}
.channels .nav .open > a, .channels .nav .open > a:focus, .channels .nav .open > a:hover {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #f3f3f3;
}