.performance table td {
    text-align: center;
}
.performance table td:first-child {
	text-align: left;
}

.performance table th {
    text-align: center;
    background-color: #f9f9f9;
}
.performance table th:first-child {
	text-align: left;
}
.nogame{
	    border-top: 1px solid #f1f1f1;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}