#player-wrapper .item{
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    width: 365px;
}