.result-header .score{
	font-size: 42px;
}
.result-statistic table thead th{
	text-align: center;
}
.result-statistic table thead th:first-child{
	text-align: left;
}

.result-statistic table tbody td{
	text-align: center;
}
.result-statistic table tbody td:first-child{
	text-align: left;
}