body {
    background-color: #f6f6f6;
    padding-top: 50px;
    margin-bottom: 0;
}
.main-navbar .right {
    padding-bottom: 0px;
    padding-top: 0px;
}
.settings-container h1{
     margin: 5px 0 20px;
}
.panel-title a:active, .panel-title a:visited, .panel-title a:link{
    text-decoration: none
}
.panel-title a{
    outline: none;
    color:#337ab7;
}
.panel-title a:hover{
    text-decoration: underline;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.badge-label{
   background-color: #ffffff !important;
    text-align: left;
    width: 270px;
}
.form-group{
    margin: 0px;
}
.form-group .btn-group{
   float: left;
    margin: 5px 12px;
}