.team-player-wrapper{
	 padding-bottom: 10px;
}
.upper-team-wrapper{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
}
.team-player-wrapper .item{
   float: left;
    margin: 15px 0;
    width: 275px;
}
.team-player-wrapper .item .left{
	float:left;
	margin-right:10px;
}
.team-player-wrapper .item .right{
	float:left;
}
.leader-items{
    float:left;
    width:100px;
    text-align:center;
}
.team-roster-wrapper{
   border-left: 1px solid #f1f1f1;
   background-color: #fff;
    padding-left: 25px;
    padding-top: 20px;
}
.management-left{
   padding-top: 20px;
   background-color: #fff;
}
table.game-result th{
  background-color: #f9f9f9;
}